<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img class="navbar-brand"
    src="https://www.iconninja.com/files/115/553/97/plane-air-sky-transport-sun-clouds-airplane-icon.png" height="50px"
    width="50px">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="city" routerLinkActive="active">Cities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" routerLink="cityAdd" routerLinkActive="active">Add A City</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isAuthenticated" routerLink="register" routerLinkActive="active">Register</a>
      </li>
    </ul>
    <form *ngIf="!isAuthenticated" #loginForm="ngForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="userName" type="text" placeholder="User Name" [(ngModel)]="loginUser.userName" required>
      <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password" [(ngModel)]="loginUser.password" required>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">Sign In</button>
    </form>
    <form *ngIf="isAuthenticated" #loginForm="ngForm" (ngSubmit)="logOut()" class="form-inline my-2 my-lg-0">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Sign Out</button>
    </form>
  </div>
</nav>